<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="configBuilders" type="System.Configuration.ConfigurationBuildersSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false" />
  </configSections>
  <configBuilders>
    <builders>
    <!--See the following link for more incormation: https://docs.microsoft.com/en-us/aspnet/core/security/app-secrets?view=aspnetcore-3.1&tabs=windows-->
    <add name="Secrets" userSecretsFile="c:\\Secrets\\MotionMonitor.xml" userSecretsId="eac60ac3-b45b-462c-a5ed-f10d5c0d1dec" type="Microsoft.Configuration.ConfigurationBuilders.UserSecretsConfigBuilder, Microsoft.Configuration.ConfigurationBuilders.UserSecrets, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" /></builders>
  </configBuilders>
  <appSettings configBuilders="Secrets">
    <!-- Placeholder value is replaced by a real value from the secrets file. 
    Example of the real CamConfig value: "[{'IpAddress':'192.168.0.100','UserName':'MyUserCam1','Password':'MyPasswordCam1'},{'IpAddress':'192.168.0.101','UserName':'MyUserCam2','Password':'MyPasswordCam2'}]" -->
    <add key="CamConfig" value="CamConfig_PlaceHolder" />
    <!-- comma-separated list of events to subscribe to
    Example: value="[{'Event':'VMD','Filter':'Active','Ignore':'','Actions':'Store'},{'Event':'VideoLoss','Filter':'Active','Ignore':'Inactive','Actions':'Store'},{'Event':'linedetection','Filter':'Active','Ignore':'','Actions':'Store, Email'}]"/>-->
    <add key="SubscriptionEvents" value="[{'Event':'fielddetection','Filter':'Active','Ignore':'','Actions':'Store'},{'Event':'linedetection','Filter':'Active','Ignore':'','Actions':'Store'}]"/>
    <!-- The time interval for separating events. For example, if 2 events notifications will come more than the configured timeout appart then they will be considered as 2 separate events.-->
    <add key="EventsTimeOut" value="4" />
    <!-- Placeholder value is replaced by a real value from the secrets file. 
    Example of the real SqlConnectionString value: "Data Source=192.168.0.200;Initial Catalog=MyDBName;User ID=MyDBUserName;Password=MyDBPassword" -->
    <add key="SqlConnectionString" value="SqlConnectionString_PlaceHolder" />
    <!--The email support is currently for SMTP (tested with GMail smtp). Example of the real EmailCredentials value: "{'Port':'587', 'Host':'smtp.gmail.com', 'UseSSL':'true', 'FromAddress':'john@mail.com','ToAddress':'alice@mailserver.com','ToName':'Alice','Password':'JohnsEmailPassword'}" -->
    <add key="EmailCredentials" value="EmailCredentials_PlaceHolder"/>
    <!-- the key below defines how often the app is allowed to send emails. The value is in minutes.-->
    <add key="MaximumEmailSendingFrequency" value="20"/>
    <!-- Placeholder value is replaced by a real value from the secrets file. 
    Example of the real AutomationHost value: "192.168.15.100:8080" -->
    <add key="AutomationHost" value="AutomationHost_PlaceHolder"/>
    <!-- Placeholder value is replaced by a real value from the secrets file. 
    Example of the real AutomationActions value: "[{'Device':'192.168.10.24', 'Event':'linedetection', 'Item':'Front_Lights', 'Command':'ON'}, {'Device':'192.168.10.25', 'Event':'VMD', 'Item':'Main_Volume', 'Command':'50'}]" -->
    <add key="AutomationActions" value="AutomationActions_PlaceHolder"/>
    <!-- the key below enables some extra verbose logging-->
    <add key="debug" value="true" />
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
</configuration>
